@model EstudianteModel

@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Eliminar Estudiante
    </div>
    <div class="card-body">
        <form asp-action="Eliminar" asp-controller="Estudiante" method="post">

            <input asp-for="Estudiante_id" type="hidden" class="form-control">

            <div class="alert alert-danger" role="alert">
                ¿Deseas eliminar al Estudiante: @Html.DisplayTextFor(m => m.Nombre)?
            </div>

            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a asp-action="Listar" asp-controller="Estudiante" class="btn btn-warning">Volver a la lista</a>
        </form>
    </div>
</div>

