@model List<EstudianteModel>

@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Lista de Estudiantes
    </div>
    <div class="card-body">
        <a asp-action="Guardar" asp-controller="Estudiante" class="btn btn-success"><i class="bi bi-plus-circle"></i> Crear Nuevo</a>
        <hr />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Nombre</td>
                        <td>@item.Apellido</td>
                        <td>
                            <a asp-action="Editar" asp-controller="Estudiante" class="btn btn-primary btn-sm" asp-route-Estudiante_id="@item.Estudiante_id">Editar</a>
                            <a asp-action="Eliminar" asp-controller="Estudiante" class="btn btn-danger btn-sm" asp-route-Estudiante_id="@item.Estudiante_id">Eliminar</a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>

    </div>
</div>

