@model CursoModel

@{
    ViewData["Title"] = "Guardar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Agregar Curso
    </div>
    <div class="card-body">
        <form asp-action="Guardar" asp-controller="Curso" method="post">
            <div class="mb-3">
                <label class="form-label">Nombre</label>
                <input asp-for="Nombre" type="text" class="form-control">
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Profesor_id</label>
                <input asp-for="Profesor_id" type="text" class="form-control">
                <span asp-validation-for="Profesor_id" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a asp-action="Listar" asp-controller="Curso" class="btn btn-warning">Volver a la lista</a>
        </form>
    </div>
</div>